@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    h3 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: bold;
    }
}

/* @media (min-width: 1024px) {
    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: bold;
    }
} */